<%= form_for(@recipient) do |f| %>

  <div id="essentials">
    <div id="email" class="field">
      <%= f.label :email, "E-Mail" %><br />
      <%= f.text_field :email, maxlength: 50 %>
    </div>
  </div>

  <div id="submit">
    <%= f.submit 'Abschicken' %>
  </div>
<% end %>