<h1><img src="/assets/flat.st.png" alt="flatst" /></h1>

<%= form_for(@recipient) do |f| %>

  <fieldset id="recipient">
    <%= f.text_field :email, placeholder:'Gib hier Deine E-Mail-Adresse ein.' %>
    <%= f.submit 'Eintragen' %>
  </fieldset>

<% end %>