html, body { height: 100%; }

body {
  font-family: proxima-nova-soft, sans-serif;
  background: hsl(44, 47%, 87%) url(bg_paper.jpg) center top repeat-x;
  color: hsl(45, 15%, 25%);
  margin: 0;
}

#main {
  background: transparent url(bg_map.jpg) center top no-repeat;
  text-align: center;
  width: 960px;
  height: 960px;
  margin: 0 auto;
}

#header {
  height: 0;
  padding: 30px;
}

h1 {
  font-family: ff-cocon-web-pro, sans-serif;
  font-weight: 700;
  font-size: 110px;
  letter-spacing: -0.02em;
  margin: 0;
}

h2 {
  font-weight: 100;
}

.flat { color: #102c4a; }
.st   { color: #00a69e; }

p.info {
  font-size: 13px;
}

.flash {
  width: 480px;
  text-align: center;
  padding: 0.5em;
  font-size: 1.2em;
  color: white;
  margin: 0 auto;
  border-radius: 5px;
  
  &.notice { background-color: #a6b616; }
  &.alert  { background-color: #d66329; }
}

form {
  font-size: 1.2em  ;
  margin: 2em 0;
}

input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #f6f6f6;
  border-radius: 0 5px 5px 5px;
  background-color: white;
  box-shadow: 1px 1px 0 rgba(black, 0.2);
  padding: 0.4em;
}

input[type=submit] {
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  border-color: #f4ff84 #9b937d #9b937d #f4ff84;
  background-color: #c5d72a;
  color: #4d443d;
  text-shadow: rgba(white, 0.7) 0px 1px 0px;
  text-transform: uppercase;
  padding: 0.45em 1.5em;
  box-shadow: none;
  cursor: pointer;
}

.field_with_errors {
  display: inline;
}

#recipient {
  width: 480px;
  margin: 50px auto 0;
  font-size: 18px;
}

#recipient_email {
  width: 360px;
}
